.banner__imagen{
    background: url(/arquitectura-css-base-main/assets/img/banner.png);
    width: 100%;
    height: calc(100vh - 72px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media screen and (min-width:0){
    .banner__imagen{
        height: calc(100vh - 51px);
    }
}
@media screen and (min-width:768px){
   .banner__imagen{
    height: calc(100vh - 72px);
    }
}