.persona__imagen.persona__imagen--roberta{
    border-radius: 50%;
    width: 75%;
    align-self: center;   
}
.persona__imagen.persona__imagen--marcela{
    border-radius: 50%;
    width: 75%;
    align-self: center;   
     
}
.persona__imagen.persona__imagen--andreia{
    border-radius: 50%;
    width: 75%;
    align-self: center;   
   
}